//
//  secret.xcconfig
//  ChatAppTFS
//
//  Created by Igor Ladanov on 16.12.2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
PYXABAY_API_KEY = 25266440-6933e441ce58be8f895555263
FIRESTORE_API_KEY = AIzaSyBCdmzgB9e75L_6w_W4UHcBj235srK6_64
PIXABAY_BASE_URL = https:/*/pixabay.com/api/?
